
#breadcrumb {
    display: flex;
    font-size: 0.75rem;
    color: #676464 !important;
    /*This will clip the left side in mobile device
    in order to have a fix height on the top bar*/
    /* overflow: hidden; /* Not working */
    /* height: 23px; /* The fix height does the trick as all element goes to the second line */
}

#breadcrumb ol {
    background-color: unset;
}

#breadcrumb a {
    color: #676464 !important;
    z-index: 10 !important;
}

#breadCrumbTitle {
    white-space: pre;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}


