/*Header and level*/

div.dokuwiki h1, div.dokuwiki h2, div.dokuwiki h3, div.dokuwiki h4, div.dokuwiki h5 {
    background-color: inherit;
    /*text-decoration: underline; underline property cross hackes whereas border does not*/
    width: -moz-max-content;
    /* The content will go outside of the parent
     The border will stop to the end of the content */
    /*noinspection CssInvalidPropertyValue*/
    width: -webkit-max-content;
    /* The content may become so long that it goes outside the parent
    max width prevent it */
    max-width: 100%;
    /* The border will stop to the end of the content
    - Pb: The content will go outside of the parent*/
    border-bottom: 1px solid #8cacbb;
    clear: left;
    color: #000;
    font-size: 100%;
    font-weight: normal;
}



div.dokuwiki h1 {
    font-size: 160%;
    font-weight: bold;
    margin-left: 0;
}

div.dokuwiki div.level1 {
    margin-left: 0px;
}

div.dokuwiki h2 {
    font-size: 150%;
    margin-left: 0px;
    margin-bottom: 1rem!important;
}
div.dokuwiki div.level2 {
    margin-left: 0px;
}
div.dokuwiki h3 {
    border-bottom: medium none -moz-use-text-color;
    font-size: 140%;
    font-weight: bold;
    margin-left: 15px;
}
div.dokuwiki div.level3 {
    margin-left: 15px;
}

div.dokuwiki h4 {
    border-bottom: medium none -moz-use-text-color;
    font-size: 120%;
    font-weight: bold;
    margin-left: 30px;
}
div.dokuwiki div.level4 {
    margin-left: 30px;
}

div.dokuwiki h5 {
    border-bottom: medium none -moz-use-text-color;
    font-size: 100%;
    font-weight: bold;
    margin-left: 45px;
}
div.dokuwiki div.level5 {
    margin-left: 45px;
}


/* No margin left on small screen */
@media (min-width: 0px) and (max-width: 576px) {

	#dw__toc h3 {
		margin-left: 0px;
	}


	div.dokuwiki h2 {
		margin-left: 0px;
	}

	div.dokuwiki div.level2 {
		margin-left: 0px;
	}

	div.dokuwiki h3 {
		margin-left: 0px;
	}

	div.dokuwiki div.level3 {
		margin-left: 0px;
	}

	div.dokuwiki h4 {
		margin-left: 0px;
	}

	div.dokuwiki div.level4 {
		margin-left: 0px;
	}

	div.dokuwiki h5 {
		margin-left: 0px;
	}

	div.dokuwiki div.level5 {
		margin-left: 0px;
	}

	div.dokuwiki h6 {
		margin-left: 0px;
	}

	div.dokuwiki div.level6 {
		margin-left: 0px;
	}

	div.dokuwiki h7 {
		margin-left: 0px;
	}

	div.dokuwiki div.level7 {
		margin-left: 0px;
	}

	div.dokuwiki h8 {
		margin-left: 0px;
	}

	div.dokuwiki div.level8 {
		margin-left: 0px;
	}

	div.dokuwiki h9 {
		margin-left: 0px;
	}

	div.dokuwiki div.level9 {
		margin-left: 0px;
	}

}
