/*Header and level*/

/*
section_highlight is a node added when hovering around the edit button by the page.js file
See sectionHighlight function
We have just disable this function in script.js because it was moving element around
*/

/* style for section highlighting */
.strap_section_highlight {
   background: #f8f9fa;
}

/* No margin left on small screen */
@media (min-width: 0px) and (max-width: 576px) {

	#dw__toc h3 {
		margin-left: 0px;
	}


	main > h2 {
		margin-left: 0px;
	}

	main > div.level2 {
		margin-left: 0px;
	}

	main > h3 {
		margin-left: 0px;
	}

	main > div.level3 {
		margin-left: 0px;
	}

	main > h4 {
		margin-left: 0px;
	}

	main > div.level4 {
		margin-left: 0px;
	}

	main > h5 {
		margin-left: 0px;
	}

	main > div.level5 {
		margin-left: 0px;
	}

	main > h6 {
		margin-left: 0px;
	}

	main > div.level6 {
		margin-left: 0px;
	}

}


